.view-more-btn {
    background-color:#1CDAE6; 
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    
}

.view-more-btn:hover {
    background-color:rgb(250, 65, 56) ;
}